*.pyc
*~
.DS_Store
.ipynb_checkpoints
.cache
.config
.ipython
.local
.sass-cache
__pycache__
_site
demos/06*/Rplots.pdf
demos/06*/*.png
demos/06*/.rstudio
demos/06*/data/matrix.mtx
demos/03*/zebrafish.1.protein.faa
demos/10*/zebrafish.1.protein.faa
